<p id="notice"><%= notice %></p>
<% if @restaurant.user === current_user %>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<% end %>
<%= link_to 'Back', restaurants_path %>

<p>
  <h3><%= @restaurant.name %></h3>
    <% if @restaurant.images.any? %>
      <% @restaurant.images.each do |image| %>
         <%= image_tag image, style: 'height:15vh; width:auto;'%>
    <% end %> 
  <% end %>
</p>

<%= render 'reviews/form' %>
<h2>Reviews - 
<% if @rating.nan? %>
 not yet rated
<% else %>
  <%= @rating %>/5 <%= image_tag("star.png", size: "25x25", alt: "star") %></h2>
<% end %>

<%= render @reviews if @reviews.any? %>
